name: Renovate Cronjob

on:
  schedule:
    # run once a week at 4:10 on thursdays
    - cron: '10 4 * * 2,4'
  # Allows manual triggering of the workflow
  workflow_dispatch: 

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        # https://github.com/actions/checkout
        uses: actions/checkout@v4

      - name: Run Renovate
        # https://github.com/renovatebot/github-action
        uses: renovatebot/github-action@v41.0.13
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: renovate-global.json5
        env:
          # renovate hides a lot of relevant info in the debug
          # output, so even though it's really noisy, it's better
          # to have it on
          LOG_LEVEL: 'debug'
          #LOG_LEVEL: 'info'

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      # https://github.com/liskin/gh-workflow-keepalive/tree/main
      - uses: liskin/gh-workflow-keepalive@v1
